.main-navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #29435c;
    padding: 1em;
}

.navigation-img {
    position: absolute;
    left: 15px;
    top: 5px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 10;
}

.ul-list {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.ul-list-item {
    font-size: 19px;
    font-weight: 200;
    color: #ffffff;
}

.ul-list-item a {
    text-decoration: none;
    color: #ffffff;
}

.ul-list-item a:hover {
    cursor: pointer;
    color: black;
}

.errorMessage {
    position: absolute;
    right: 45px;
    top: 80px;
    font-size: 17px;
    color: red;
    background-color: #d1d4c9;
    padding: 10px;
    border-radius: 10px;
    z-index: 15;
}