.main {
    position: -webkit-sticky;
    /* Safari & IE */
    position: sticky;
    top: 50px;
    left: 0;
    height: 700px;
    width: 300px;
    background-color: #29435c;
    border-radius: 20px;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-item {
    background-color: #d1d4c9;
}