.item {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    background-color: #d1d4c9;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.94);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.94);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.94);
    transition: 0.3s;
}

.item:hover {
    width: 1230px;
    transition: 0.3s;
}



.item-img {
    width: 230px;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item-content {
    width: 600px;
    padding: 10px;

}

.item-content-title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 1em;
}

.item-content-resume {
    display: flex;
    justify-content: space-between;
}

.item-content-resume-item {
    display: flex;
    margin-bottom: 1em;
}

.item-content-resume-item i {
    margin-right: 8px;
}

.item-content-extras {
    display: flex;
    justify-content: space-between;
}

.item-content-extras-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #152a38;
    color: #ffffff;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 3em;
}

.item-content-extras-item p {
    font-size: 14px;
    font-weight: 200;
}

.item-content-info {
    display: flex;
    justify-content: space-between;
}


.item-content-info-location {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.item-content-info-location p {
    font-size: 25px;
    font-weight: 300;
}

.item-content-info-location-svg {
    display: flex;
    margin-bottom: 5px;
}

.item-content-info-location-svg i {
    font-size: 25px;
    margin-right: 10px;
}

.item-content-info-location-svg p {
    font-size: 25px;
    font-weight: 400;
}

.item-content-info-price p {
    font-size: 25px;
}