.main-navigation {
    display: flex;
    justify-content: center;
    background-color: #d1d4c9;
    padding: 1em;
}

.ul-list {
    display: flex;
    gap: 1.5em;
}

.ul-list-item {
    font-size: 19px;
}

.ul-list-item a:hover {
    cursor: pointer;
    text-decoration: underline;
}