.last-added-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    width: 100%;
    background-color: red;
    height: 500px;
}

.last-added-section-list {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.list-item {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item-img {
    width: 350px;
    height: 200px;
}

.list-items-svg {
    width: 100%;
    display: flex;
    justify-content: space-between;
}