.section-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.section-main-title {
    position: relative;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 35px;
    color: #29435c;
    font-weight: 900;
    padding-bottom: 5px;
    border-bottom: 1.3px solid black;
}

.title-span {
    color: red;
}

.section-main-view-all-maps {
    border-style: none;
    width: 190px;
    height: 50px;
    background-color: #29435c;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 15px;
    color: #ffffff;
}

.section-main-view-all-maps:hover {
    background-color: #ffffff;
    color: #29435c;
    box-shadow: -2px 0px 11px -4px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: -2px 0px 11px -4px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: -2px 0px 11px -4px rgba(0, 0, 0, 0.76);
    border: 2px solid #29435c;

}

#carusel {
    background-image: url("/Users/alimusli/Desktop/new project/4x4.Friends-React.Redux/app copy/public/maps/mapsBC.jpeg");
    background-repeat: no-repeat;
    background-position: 10%;
    background-size:115%;
    background-color: #d1d4c9;
    /* display: flex;
    justify-content: center; */
    max-width: 1700px;
    height: 700px;
    padding: 2em;
    transition: 3s;
}

#carusel:hover {
    background-size:118%;
    transition: 3s;
}

#carusel-item {
    transition: transform 1s ease-in-out;
    display: flex;
    justify-content: center;
}

.carusel-item-img {
    width: 800px;
    height: 600px;
    border-radius: 10px;
}

.carusel-item-content {
    width: 350px;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    row-gap: 1em;
    background-color: rgba(0, 0, 0, 0.618);
    border-radius: 10px;

}

.carusel-item-content p {
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}

.carusel-item-content-button {
    border-style: none;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 18px;
    background-color: #556e53;
    color: #ffffff;
}

.carusel-item-content-button:hover{
    background-color: #ffffff;
    color: #556e53;
    border: 2px solid #556e53;
}