.section-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carusel {
    background-color: #d1d4c9;
    display: flex;
    justify-content: center;
    max-width: 1800px;
    padding: 2em;
}

#carusel-item {
    transition: transform 3s ease-in-out;
    display: flex;
    justify-content: center;
}

.carusel-item-img {
    width: 650px;
    height: 400px;
    border-radius: 10px;
}

.carusel-item-content {
    margin-left: 7em;
    transition: 10s;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    
}

.carusel-item-content p {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}

.carusel-item-content-button {
    border-style: none;
    width:150px;
    height: 30px;
    border-radius: 15px;
    margin-top: 15px;
}