
.main {
    padding: 3em 2em 1em 2em;
    background-color: #d1d4c973;
    width: 100%;
}

.main-content {
    display: flex;
    column-gap: 5em;
}

.content-img {
    width: 550px;
    height: 450px;
    border-radius: 5px;
}

.content-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-info-total {
    height: 130px;
    background-color: #29435c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
}

.content-info-total-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.content-info-total-item:nth-child(2) {
    margin-top: 20px;
}

.content-info-total-item i{
    color: #ffffff;
    font-size: 23px;
}

.content-info-total-item p {
    color: #ffffff;
    font-size: 18px;
}

.content-info-titleDescription {
    font-size: 30px;
    text-align: center;
    margin-bottom: 7px;
}

.content-info-description {
    background-color: #d1d4c9;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    border-radius: 10px;
    padding: 15px;
    height: 260px;
    overflow: scroll;
}

.main-comments {
    background-color: aqua;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}